<!-- <nav>
  <button
    [routerLink]="['']"
    routerLinkActive="active-button"
    [routerLinkActiveOptions]="{ exact: true }"
  >
    Home
  </button>
  <button [routerLink]="['login']" routerLinkActive="active-button">
    Login
  </button>
  <button [routerLink]="['register']" routerLinkActive="active-button">
    Register
  </button>
  <button [routerLink]="['notes']" routerLinkActive="active-button">
    Notes
  </button>
</nav> -->

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Comments App</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/login">Login</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/register">Register</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/notes">Notes</a>
      </li>
    </ul>
    <!-- @if(navi == 'notes'){ -->
      
    <!-- } -->

  </div>
</nav>






<router-outlet></router-outlet>
