<form [formGroup]="registerForm" (ngSubmit)="onSubmit()" class="register-form">
  <label for="name">Name:</label>
  <input type="text" id="name" formControlName="name" />
  <app-form-error
    [control]="registerForm.get('name')"
    fieldName="Name"
  ></app-form-error>

  <label for="email">Email:</label>
  <input type="text" id="email" formControlName="email" />
  <app-form-error
    [control]="registerForm.get('email')"
    fieldName="Email"
  ></app-form-error>

  <label for="password">Password:</label>
  <input type="password" id="password" formControlName="password" />
  <app-form-error
    [control]="registerForm.get('password')"
    fieldName="Password"
  ></app-form-error>


  <label for="image">Choose a profile picture:</label>
  <input type="file" id="image" name="image" accept="image/png, image/jpeg" />
  <app-form-error
  [control]="registerForm.get('image')"
  fieldName="Image"
  ></app-form-error>

  <button type="submit" [disabled]="registerForm.invalid">Register</button>
</form>
